.DS\_Store
.svn
dist-artifacts
lib-artifacts
build-artifacts
src/**/nbproject/private
src/enclojure.plugin.netbeans/release/*
src/enclojure.plugin.netbeans/build/*
src/enclojure.plugin.netbeans/nbproject/private/*
build-support/libs/*
build-support/deps*.zip
__MACOSX
.ivy-cache
ivy-cache
*.class
*.jar
*.war
build/*
