.DS\_Store
.svn
dist-artifacts
lib-artifacts
build-artifacts
src/**/nbproject/private
src/plugins/netbeans/enclojure.plugin.netbeans/release/*
src/plugins/netbeans/enclojure.plugin.netbeans/build/*
src/plugins/netbeans/enclojure.plugin.netbeans/nbproject/private/*
src/plugins/netbeans/enclojure.plugin.netbeans/nbproject/private/platform-private.properties
build-support/libs/*
build-support/deps*.zip
build-support/libs.zip
__MACOSX
.ivy-cache
ivy-cache
*.class
*.jar
*.war
build/*
*.tmproj
