.DS\_Store
._.DS_Store
._pom.xml
target
target/*
.svn
src/**/nbproject/private
plugins/netbeans/org-enclojure-plugin/release/*
plugins/netbeans/org-enclojure-plugin/build/*
plugins/netbeans/org-enclojure-plugin/nbproject/private/*
plugins/netbeans/org-enclojure-plugin/nbproject/private/platform-private.properties
templates/netbeans/ClojureProjectTemplate/nbproject/private/private.properties
__MACOSX
*.class
*.jar
*.war
build/*
*.tmproj

